<#@ template language="c#" #>
<#@ templateName value="CSharpClassGenerator.DefaultFieldTemplate" #>
<#@ model type="IClassField" #>
<#@ viewModel name="CSharpClassGenerator.DefaultFieldViewModel" model="Model" #>
<#@ renderChildTemplate name="CSharpClassGenerator.DefaultAttributeTemplate" model="Model.Attributes" customResolverDelegate="ResolveFromMetadata" #>
        <#= Model.GetModifiers() #><# if (Model.Event) Write("event "); #><#= ViewModel.TypeName #> <#= ViewModel.Name #><# if (ViewModel.ShouldRenderDefaultValue) { #> = <#= ViewModel.DefaultValue #><# } #>;
