<#@ template language="c#" #>
<#@ templateName value="CSharpClassGenerator.DefaultParameterValueTemplate" #>
<#@ model type="IParameter" #>
<#@ viewModel name="CSharpClassGenerator.DefaultParameterViewModel" model="Model" #>
<# if (Model.IsParamArray) { #>params <# } #><#= ViewModel.TypeName #> <#= ViewModel.Name #><# if (ViewModel.ShouldRenderDefaultValue) { #> = <#= ViewModel.DefaultValue #><# } #>