<#@ template language="c#" #>
<#@ templateName value="SqlServerDatabaseSchemaGenerator.DefaultPrimaryKeyConstraintFieldTemplate" #>
<#@ model type="IPrimaryKeyConstraintField" #>
	[<#= Model.Name.FormatAsDatabaseIdentifier() #>] <# if (Model.IsDescending) { #>DESC<# } else { #>ASC<# } #><# if (!TemplateContext.IsLastIteration) { #>,<# } #>

